<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">{{ title }}</div>
    <button mat-icon-button (click)="close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  <form class="flex flex-col px-8 pt-10 bg-card shadow rounded overflow-hidden" [formGroup]="form">
    <fuse-alert
      class="mb-8"
      *ngIf="showAlert"
      [appearance]="'outline'"
      [showIcon]="false"
      [type]="alert.type"
      [@shake]="alert.type === 'error'"
    >
      {{ alert.message }}
    </fuse-alert>

    <mat-form-field class="w-full">
      <mat-label>Descrição</mat-label>
      <input type="text" matInput formControlName="descricao" />
      <mat-error *ngIf="displayMessage.descricao" [innerHTML]="displayMessage.descricao"> </mat-error>
    </mat-form-field>

    <div class="flex items-center justify-start border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
      <button
        class="fuse-mat-button-large mr-2"
        mat-flat-button
        [color]="'primary'"
        [disabled]="form.disabled || form.invalid"
        (click)="submit()"
      >
        <span *ngIf="!form.disabled"> Salvar </span>
        <mat-progress-spinner *ngIf="form.disabled" [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
      </button>
      <button class="bg-red-600 text-white fuse-mat-button-large" mat-flat-button (click)="close()">Cancelar</button>
    </div>
  </form>
</div>
