.inventory-grid {
  grid-template-columns: 2rem auto 3rem;

  @screen sm {
    grid-template-columns: 2rem auto 3rem;
  }

  @screen md {
    grid-template-columns: 2rem auto 6rem;
  }

  @screen lg {
    grid-template-columns: 2rem auto 6rem;
  }
}
